<section class="section">
    <div class="markaz" routerLink="/man">
        <img src="assets/anomaly-WWesmHEgXDs-unsplash.jpg" alt="man">
        <h3>Man</h3>
    </div>
    <div class="markaz" routerLink="/women">
        <img src="https://images.unsplash.com/photo-1503342217505-b0a15ec3261c?ixlib=rb-4.0.3&auto=format&fit=crop&w=800&q=80"
            alt="women">
        <h3>Women</h3>
    </div>
    <div class="markaz" routerLink="/kids">
        <img src="assets/brytny-com-C4rXIFSzEXk-unsplash.jpg" alt="kids">
        <h3>Kids</h3>
    </div>
    <div class="markaz" routerLink="/sport-clothes">
        <img src="assets/florian-kurrasch-zkctapwhzxc-unsplash.jpg" alt="sport">
        <h3>Sport</h3>
    </div>
</section>