<nav>
    <ul>
        <li routerLink="main">main</li>
    </ul>
    <ul>
        <li routerLink="list">list</li>
        <li routerLink="admin">admin</li>
        <li routerLink="hamilion">hamilion</li>
    </ul>
</nav>
<router-outlet></router-outlet>
<!-- <h1>{{ingbro.name()}}</h1>
@if (ingbro.loading()) {
    <p><i>loading...</i></p>
    please wait!
    }
    <br>
    <input type="text" #myinp name="" id="">
    <button (click)="ingbro.getname(myinp.value)">get name</button>
    <h5>{{ingbro.price()|currency:'USD'}}</h5>
    <p>discount:{{ingbro.discount()|currency:'USD'}}</p>
    <button (click)="ingbro.pluser()">plusser</button> -->
<h1>salom</h1>
<button (click)="geter()">get data</button>
<button (click)="newpost()">new post</button>
<button (click)="puter(5)">puter</button>
<button (click)="patcher(1)">patcher</button>
<button (click)="del(20)">delate</button>
@for (item of user; track $index) {
<p>{{item.userId}}</p>
}