<nav>
    <ul id="home">
        <li>
            <a routerLink="/boshlangich" style="text-decoration: none; color: white;">Home</a>
        </li>
    </ul>
    <ul class="nav-links">
        <li class="dropdown">
            <a routerLink="/man" class="dropbtn">Man</a>

        </li>
        <li class="dropdown">
            <a routerLink="/women" class="dropbtn">Women</a>

        </li>
        <li class="dropdown">
            <a routerLink="/kids" class="dropbtn">Kids</a>

        </li>
        <li class="dropdown">
            <a routerLink="/sport-clothes" class="dropbtn">Sport Clothes</a>

        </li>
        <li class="dropdown">
            <a routerLink="/discount" class="dropbtn">Discount</a>

        </li>
    </ul>
    <div class="nav-right">
        <div class="search-bar">
            <input type="text" placeholder="Search products...">
            <i class="fas fa-search"></i>
        </div>
        <ul class="nav-icons">
            <li><i class="fas fa-heart"></i></li>
            <li><i class="fas fa-shopping-cart"></i></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>


<footer class="footer">
    <div class="footer-container">
        <div class="footer-column">
            <h4>Biz haqimizda</h4>
            <ul>
                <li><a href="#">Kompaniya haqida</a></li>
                <li><a href="#">Karyera</a></li>
                <li><a href="#">Yangiliklar</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Yordam</h4>
            <ul>
                <li><a href="#">Aloqa</a></li>
                <li><a href="#">Yetkazib berish</a></li>
                <li><a href="#">Qaytarish</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Huquqiy</h4>
            <ul>
                <li><a href="#">Maxfiylik siyosati</a></li>
                <li><a href="#">Foydalanish shartlari</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h4>Bizni kuzatib boring</h4>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 Sizning Brendingiz. Barcha huquqlar himoyalangan.</p>
    </div>
</footer>