<nav>
    <ul class="nav-links">
        <li class="dropdown">
            <a routerLink="/man" class="dropbtn">Man</a>
            <div class="dropdown-content">
                <a routerLink="/man/footwear">Footwear</a>
                <a routerLink="/man/clothing">Clothing</a>
                <a routerLink="/man/accessories">Accessories</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/women" class="dropbtn">Women</a>
            <div class="dropdown-content">
                <a routerLink="/women/footwear">Footwear</a>
                <a routerLink="/women/clothing">Clothing</a>
                <a routerLink="/women/jewelry">Jewelry</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/kids" class="dropbtn">Kids</a>
            <div class="dropdown-content">
                <a routerLink="/kids/footwear">Footwear</a>
                <a routerLink="/kids/clothing">Clothing</a>
                <a routerLink="/kids/toys">Toys</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/sport-clothes" class="dropbtn">Sport Clothes</a>
            <div class="dropdown-content">
                <a routerLink="/sport-clothes/activewear">Activewear</a>
                <a routerLink="/sport-clothes/gear">Gear</a>
                <a routerLink="/sport-clothes/accessories">Accessories</a>
            </div>
        </li>
        <li class="dropdown">
            <a routerLink="/discount" class="dropbtn">Discount</a>
            <div class="dropdown-content">
                <a routerLink="/discount/clearance">Clearance</a>
                <a routerLink="/discount/seasonal">Seasonal Sales</a>
            </div>
        </li>
    </ul>
    <div class="nav-right">
        <div class="search-bar">
            <input type="text" placeholder="Search products..." (input)="onSearch($event)">
            <i class="fas fa-search"></i>
        </div>
        <ul class="nav-icons">
            <li><i class="fas fa-heart"></i></li>
            <li><i class="fas fa-shopping-cart"></i></li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>