<div class="main">
    <div class="left">
        <p>aksjdjh</p>
    </div>
    <div class="right">
        @for (item of server.allitems(); track $index) {
        <div class="box">
            <div class="img">
                <img src="{{item.imgurl}}" alt="">
            </div>

            <div class="info">
                <p>{{item.name}}</p>
                <p>${{item.price}}</p>
                <p>id:{{item.id}}</p>
                <button>shop now</button>

            </div>

        </div>
        }

    </div>
</div>